<html>
<head>
<title>Digital_Editing</title>
<style type="text/css">
body{
background:url('imageslll.jpg')
	}
.banner{
	background:url('imageslll.jpg');
	width:100%;
	height:30%
	}
.sidebar{
	color:blue;
	width:20%;
	height:75%;
	background-color:#005274
	}
.content{
	color:white;
	width:80%;
	height:75%;
	background-color:#909989
	}
.bottom{
	color:yellow;
	height:5%;
	width:100%;
	background-color:#000010
	}
.menu{
display:inline;
width:100%;
height:50px;
margin-left: 40px;
color: #fff1343;
}
li{
    margin-left: 20px;
}
.clear{
clear:both;
}
#nav {
    font-family: verdana;
    font-weight: bold;
    font-size: 9pt;
}
  
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
#nav a:link,
#nav a:visited {
    color: #ffffff;
    text-decoration: none;
}
  
#nav a {
    display: block;
    padding: 6px 8px;
}
  
#nav li {
    float: left;
    background-color: #000000;
    margin-right: 1px;
    position: relative;
    border-radius: 5px;
}
 
#nav li li{
    width: 160px;
    margin-top: 1px;
}
 
#nav li:hover {
    background-color: #555555;
}
#nav li li:hover {
    background-color: #757575;
}  
 
  
#nav ul ul  {
    position: absolute;
    visibility: hidden;
}
  
#nav ul ul ul{
    position: absolute;
    left: 100%;
    top: -2px;
    border: solid 1px transparent;
} 
 
#nav li:hover > ul {
    visibility: visible;
}
  
.right-arrow {
    float: right;
}
</style>
</head>
<body background=BAC.jpg>
<table width=100% height=100% cellspacing=0 cellpadding=0>
	<tr><td colspan=2 height=40% class=banner></td></tr>
	<tr><td colspan=2 class=menu>
	<div id="nav">
	<ul>
    <li><a href="file:///C:/Users/user/Desktop/bannersimage/web/marana.html">HOME</a></li>
    <li><a href="#">Programs</a>
		<ul>
            <li><a href="film.html">Films</a>
				<ul>
				<li><a href="fmaking.html">Film Making</a></li>
				<li><a href="dfmaking.html">Digital FilmMaking</a></li>
				<li><a href="mvideo.html">Music Video</a></li>
				</ul>
				</li>
            <li><a href="prod.html">Producing</a></li>
            <li><a href="photo.html">Photography</a></li>
            <li><a href="3D.html">3D Animation</a></li>
			<li><a href="cinema.html">Cinematography</a></li>
			<li><a href="Dediting.html">Digital Editing</a></li>
			<li><a href="Beginner.html">Beginner</a>
				<ul>
				<li><a href="ACCP.html">ACCP</a></li>
				<li><a href="CComputing.html">Cloud Computing</a></li>
				<li><a href="WindowsApp.html">Windows Apps</a></li>
				<li><a href="CC++.html">C & C++</a></li>
				<li><a href="Java.html">Java</a></li>
				<li><a href="Net.html">.NET</a></li>
				<li><a href="DBase.html">Database Courses</a></li>
				</ul>
				</li>
			
		</ul></li>
            
	<li><a href="file:///C:/Users/user/Desktop/bannersimage/web/program.html">Registration</a></li>
	<li><a href="#">About US</a></li>
	<li><a href="file:///C:/Users/user/Desktop/bannersimage/web/contactUs.html">Contact US</a>
    
	<li><a href="#">Chat&Forum</a>
        <ul>
            <li><a href="Contact.html">Contact Us</a></li>
            <li><a href="#">Facebook <span class="right-arrow">&#9658;</span></a>
                <ul>
                    <li><a href="#">Like Us</a></li>
                </ul></li>
			</ul>
	<li><a href="#">Academics</a></li>
	</div>
	</td></tr>
	<tr>
	<td colspan=2>
	<table width=100% height=75% border=1>
	<tr>
	<td class=sidebar>

<ul>
<li><a href="file:///C:/Users/user/Desktop/bannersimage/web/marana.html">Home</a></li>
<li><a href="http://localhost/dad/OurService.html">Program</a>
<ul>
<li><a href="films.html">films</a></li>
            <li><a href="prod.html">Producing</a></li>
            <li><a href="photo.html">Photography</a></li>
            <li><a href="3D.html">3D Animation</a></li>
	    <li><a href="cinema.html">Cinematography</a></li>
	    <li><a href="Dediting.html">Digital Editing</a></li>
	    <li><a href="Beginner.html">Beginner</a>
				<ul>
				<li><a href="ACCP.html">ACCP</a></li>
				<li><a href="CComputing.html">Cloud Computing</a></li>
				<li><a href="WindowsApp.html">Windows Apps</a></li>
				</ul>
				</li>
<li><a href="file:///C:/Users/user/Desktop/bannersimage/web/program.html">Registration</a></li>
<li><a href="http://localhost/dad/EventFormBook.html">About Us</a></li>
<li><a href="file:///C:/Users/user/Desktop/bannersimage/web/contactUs.html">Contact Us</a></li>
<li><a href="http://localhost/dad/OurBranches.html">Chat & Forum</a></li>
<li><a href="http://localhost/dad/ContactUs.html">Academics</a></li>

</ul>

</td>
	<td class=content>
	<table height=100% width=100%>
	<tr><td>
	<table>
	<tr><td colspan=2>
<table border=1 height=100% >
<tr><th colspan=33><center><font color=red> Student Report For Digital_Edicting</font></center></th></tr>
<tr><th colspan=2>Date</th><th>3/3/14</th><th>4/3/14</th><th>5/3/14</th><th>5/3/14</th><th>6/3/14</th><th>7/3/14</th><th>8/3/14</th><th>9/3/14</th><th>10/3/14</th><th>11/3/14</th><th>12/3/14</th><th>13/3/14</th><th>14/3/14</th><th>15/3/14</th><th>16/3/14</th><th>17/3/14</th><th>18/3/14</th><th>19/3/14</th><th>20/3/14</th><th>21/3/14</th><th>22/3/14</th><th>23/3/14</th><th>24/3/14</th><th>25/3/14</th><th>26/3/14</th><th>27/3/14</th><th>28/3/14</th><th>29/3/14</th><th>30/3/14</th><th>31/3/14</th><th rowspan=2>Total</th></tr>
<tr><th>S/N</th><th>Student Name</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th></tr>
<tr height=5%><td>1</td><td><a href=""> Neil B</a></td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>80%</td></tr>
<tr height=5%><td> 2 </td><td><a href="">Will S</a></td><td>P</td><td>P</td><td>P</td><td><center>A</center></td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>60%</td></tr>
<tr height=5%><td> 3 </td><td><a href="">Sam J</a></td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>80%</td></tr>
<tr height=5%><td> 4 </td><td><a href="">Don C</a></td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>50%</td></tr>
<tr height=5%><td> 5 </td><td><a href="">Peter</a></td><td>P</td><td>P</td><td>A</td><td>P</td><td>A</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>55%</td></tr>
<tr height=5%><td> 6 </td><td><a href="">Ron S</a></td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>80%</td></tr>
<tr height=5%><td> 7 </td><td><a href="">hill w</a></td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>90%</td></tr>
<tr height=5%><td> 8 </td><td><a href="">Paul l</a></td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>70%</td></tr>
<tr height=5%><td> 9 </td><td><a href="">will J</a></td><td>P</td><td>P</td><td>P</td><td>P</td><td>A</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>80%</td></tr>
<tr height=5%><td> 10 </td><td><a href="">wood A</a></td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>P</td><td>100%</td></tr></table>	</table>
	</td>
<marquee direction=left><font color=green>Click on name to view the student performance both in academy and extra-corriculum activities</font></marquee>
	
                                                                                                                                                                                            </table></td>
<tr><td colspan=2 align=center height=5%><font color=red>&copy Copyright by Samuel & Adeyemi 2014</font></td></tr>
</body>
</html>                                             