<html>
<head>
<script type="text/javascript">
</script>
</head>
<table>
<body>
<form name='maform' action='attendamarking.php' >
<tr> <td> David Smith <input type='checkbox' name='Name[davidsmith]' value='p' /></td></tr>
<tr>  <td>Suzy Cutie <input type='checkbox' name='Name[suziecutie]' value='p' /></td></tr>
<tr> <td> Tom Geralds <input type='checkbox' name='Name[tomgeralds]' value='p' /></td></tr>
<tr> <td>  <input type='submit' value='Submit' name='submit_button' /></td></tr>
</form>
</body>
</table>
</html>