<html>
<head>
<title>result checking</title>
<script></script>
</head>
<body>
<table align=center bgcolor=blue>
<form name=loginform>
<th colspan=2><font color=orange>Student result checking Form</font></th>
<tr><td><input type=text name=rollno size=15 maxlength=6></td> &nbsp;&nbsp;&nbsp;
<td>course name<select name=--course-->
<option>Film Making</option>
<option>3D Animation</option>
<option>Cinematography</option>
<option>Digital Edicting</option>
<option>Photography</option>
<option>Oracle 11g</option>
<option>IT Booster</option>
<option>CCNA</option>
<option>Cloud Computing/option>
<option>ACCP</option>
<tr><td colspan=2><center><input type=submit value=submit> &nbsp; &nbsp; <input type=reset value=Cancel></center</td></tr>
</form>
</table>
</html>

