<html>
<head>
<title>result checking</title>
<script></script>
</head>
<body>
<table align=center bgcolor=blue>
<form name=loginform>
<th colspan=4><font color=orange>Student result checking Form</font></th>
<tr><td>Roll No<input type=text name=rollno value="" size=15 maxlength=6></td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td><select name=--course-->
<option>--select course--</option>
<option>Film Making</option>
<option>3D Animation</option>
<option>Cinematography</option>
<option>Digital Edicting</option>
<option>Photography</option>
<option>Oracle 11g</option>
<option>IT Booster</option>
<option>CCNA</option>
<option>Cloud Computing</option>
<option>ACCP</option></select><td> &nbsp;&nbsp;&nbsp;
<td><select name=Trisemester>
<option>--select trisem--</option>
<option>1st trisem</option>
<option>2nd trisem</option>
<option>3rd trisem</option>
<option>4th trisem</option></td>
</select> &nbsp;&nbsp;&nbsp;
<td><input type=submit value=submit ></td></tr>

</form>
</table>
</html>

