<h1>Some important notice</h1>

<h2>Complete User and Administration Guide</h2>

<em></em>


<br /><br />
<small>Most Recently updated on april 7th, 2014.</small>
<br /><br />

<h2>Important Notice</h2>
 
<p>This Document contains almost everything you should initially know about the forum and how to handle our forum. User has to register in case if you want to share your opinion on this page and likewise user can contribute to someone opinion as an anonymous user i.e without registered but that will not display such a user name and it will display such a username as quest and user can upload his/her picture and by choosen the option in the menu button and user can also make his/her text bold or italics and so on, user can can perform alot of task on this forum and this chat and form are made to help share opinion, contributes to issues on ground and so on like that </p>

